{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Marvel Character Attribute Search</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <div align="center">
            <h1>CS 122 Heroes Database</h1>
        </div>
 
        <div class="frame">
            <div align="left">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                <tr><td>{{form.universe.label}}:</td><td>{{form.universe}}</td></tr>
                <tr><td>{{form.query.label}}:</td><td>{{form.query}}</td></tr>
                <tr><td>{{form.grapher.label}}:</td><td>{{form.grapher}}</td></tr>
                <tr><td>{{form.wiki.label}}:</td><td>{{form.wiki}}</td></tr>
                <tr><td>{{form.show_attributes.label}}:</td><td>{{form.show_attributes}}
                {% if attributes %}
                <tr><td>{{form.appearance.label}}:</td><td>{{form.appearance}}</td></tr>
                <tr align='top'><td>{{form.iden.label}}:</td><td>{{form.iden}}</td><td>{{form.align.label}}:</td><td>{{form.align}}</td><td>{{form.sex.label}}:</td><td>{{form.sex}}</td></tr>
                <tr><td>{{form.gsm.label}}:</td><td>{{form.gsm}}</td></tr>
                <tr><td>{{form.eye.label}}:</td><td>{{form.eye}}</td><td>{{form.hair.label}}:</td><td>{{form.hair}}</td></tr>
                {% endif%}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if desc %}
        <div class="desc">
            <h2>{{ desc_title}}</h2>            
            <pre>{{ desc }}</pre>
        </div>
        {% endif %}

        <div class='img'>
            {% load static %}
            {% if img %}
            <img src="{% static "character.jpg" %}" height=500/>
            {% endif %}
            {% if grapher %}
            <embed src="{% static "network.pdf" %}" type='application/pdf' height=500/> 
            {% endif %}
        </div>

        {% if wiki %}
        <div class = 'wiki'>
            <h2>Wikipedia Information</h2>
            <table>

            {% for key, values in wiki.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{values.0}}</td>
            </tr>
                {% for v in values|slice:"1:" %}
                <tr>
                    <td></td>
                    <td>{{v}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}



        <div class="frame">
            {% if result %}
            <h2>All Possible Matches</h2>
            <div class="results">
                <table class="Fields">
                    <tr>
                        {% for col in columns %}
                        <th align='left'>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                        <td align='left'>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Results: {{ num_results }}</p>
            {% endif %}
        </div>
    </body>
</html>
